<h1> Your Timeline </h1>

<p>
<%= link_to "New Event", new_event_path %>
</p>

<div class="history-tl-container"> 
  <ul class="tl">
    <% @events.each do |event| %>
      <li class="tl-item">
        <div class="timestamp"><%= event.date %></div>
        <div class="item-title"><%= event.title %></div>
      </li>
    <% end %>
  </ul>
</div>