<h1> Your Timeline </h1>

<div class="timeline-container"> 
  <ul class="timeline">
    <% @events.each do |event| %>
      <div class = "clear"></div>
      <li class="timeline-event">
        <div class="event-date"><%= event.date %></div>
        <div class="event-title"><%= event.title %></div>
      </li>
    <% end %>
  </ul>
</div>

<a class="new-event" href="<%=new_event_path%>">Create a new event</a>