<h2>Make a contribution:</h2>
<%= form_with(model: [ @event, @event.contributions.build ], local: true) do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>