// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$circle-diameter: 1.5em;
$timeline-thickness: 0.2em;
$color-dark: #0e2d42;
$color-light: #F4A261;
$color-medium: #2A9D8F;
$neutral: darkgray;
$bg: #FAFDFD;
$text-light: #FAFDFD;
$text-dark:#0e2d42;

.timeline-container {
    text-align: left;
    margin: 2em auto auto auto;
    display: grid;
    position: relative;
    text-align: center;
}
ol.timeline {
    display: inline-block;
    padding-top: 2em;
    text-align: left;
}
ol.timeline li {
    list-style: none;
    padding-bottom: 1em;
    position: relative;
}
ol.timeline > :last-child {
    border-left-color: transparent;
}
ol.timeline li::before {
    position: relative;
    content: " ";
    left: -($circle-diameter/2 + $timeline-thickness/2);
    top: -$circle-diameter/2;
    border-radius: 50%;
    border: $timeline-thickness solid $color-light;
    background: $bg;
    height: $circle-diameter;
    width: $circle-diameter;
}

li.timeline-event {
    border-top: 1px dashed $color-medium;
    border-left: $timeline-thickness solid $neutral;
    display: grid;
    grid-template-columns: auto auto 1fr;
    margin: 0 4em;
}
.timeline-event .date {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    margin: 0 1em 0 1em;
    white-space: nowrap;
    width: 6em;
}
.timeline-event .box {
    background-color: $color-light;
    width: auto;
    overflow-wrap: break-word;
    color: $color-dark;
    display: flex;
    flex-direction: row;
}
.timeline-event .box, .collapsible {
    grid-column: 3;
}
.timeline-event .collapsible:not(.collapsed) {
    border-top: 0;
}
.timeline-event .collapsible.collapsed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
}
.timeline-event .box, .collapsible:not(.collapsed) {
    /*
    $border-width: 2;
    top: -$border-width;
    $border-width: 2px;
    border: $border-width solid $neutral;
    */
    padding: 10px;
    position: relative;
}

.timeline-event .title {
    font-weight: bold;
    min-width: 0; //prevents box's flex from breaking
    flex: 1;
}

.clear {
    clear: both;
}

.timeline-event .box .icon, .timeline-event .box a {
    align-self: flex-end;
    height: 2em;
}

.timeline-event .box .icon {
    flex: 0;
    position: relative;
    padding-left: 10px;
}

.collapsible .contribution+.contribution {
    margin-top: 1em;
}

.new-event-button {
    color: $text-light;
    background-color: $color-medium;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

//nav and header stuff

h1 {
    color: $color-dark;
}

header {
    width: 100%;
    height: 2rem;
    padding: 1rem 2rem 2rem 2rem;
    background-color: $color-medium;
    display: flex;
}

.logo, .search-bar {
    margin: 0 1rem;
}

.search-bar{
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

h3{
    color: $text-light;
    margin: 0;
}

.page {
    display: grid;
    grid-template-columns: minmax(80px, 8%) 1fr;
}

.nav-bar{
    background-color: $color-medium;
    display: block;
    min-height: 100%;
}
/* was using to test javascript
.nav-bar.active {
    background-color: orange;
}*/

.nav-icons{
    padding: 0;
    display: grid;
}
.nav-item {
    padding: 1rem 0;
    list-style: none;
    grid-template-rows: auto;
}