// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$circle-diameter: 1.5em;
$timeline-thickness: 0.2em;

.timeline-container {
    text-align: left;
    margin-top: 2em;
    position: relative;
    text-align: center;
    width: 100%;
}
ol.timeline {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 2em 8em 0 8em;
}
ol.timeline > :last-child {
    border-left-color: transparent;
}
ol.timeline li::before {
    position: relative;
    content: " ";
    left: -($circle-diameter/2 + $timeline-thickness/2);
    top: -$circle-diameter/2;
    border-radius: 50%;
    border: $timeline-thickness solid #9b7e00;
    background: white;
    height: $circle-diameter;
    width: $circle-diameter;
}

li.timeline-event {
    list-style: none;
    padding-bottom: 1em;
    position: relative;
    border-top: 1px dashed #86d6ff;
    border-left: $timeline-thickness solid darkgray;
    display: grid;
    grid-template-columns: auto auto 1fr;
    width: 100%;
}
.timeline-event .date {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    margin: 0 1em 0 1em;
    white-space: nowrap;
}
.timeline-event .box {
    background-color: burlywood;
    width: auto;
    overflow-wrap: break-word;

    display: flex;
    flex-direction: row;
}
.timeline-event .box, .collapsible {
    grid-column: 3;
}
.timeline-event .collapsible:not(.collapsed) {
    border-top: 0;
}
.timeline-event .collapsible.collapsed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
}
.timeline-event .box, .collapsible:not(.collapsed) {
    $border-width: 2px;
    border: $border-width solid black;
    padding: 10px;
    position: relative;
    max-height: 12em;
    overflow: auto;
}

.timeline-event .title {
    font-weight: bold;
    min-width: 0; //prevents box's flex from breaking
    flex: 1;
}

.collapsible .contribution+.contribution {
    margin-top: 1em;
}

.contribution, .contribution .p {
    width: auto;
    overflow-wrap: break-word;
}

.clear {
    clear: both;
}

.timeline-event .box .icon, .timeline-event .box a {
    align-self: flex-end;
    height: 2em;
}

.timeline-event .box .icon {
    flex: 0;
    position: relative;
    padding-left: 10px;
}

.new-event-button {
    color: white;
    background-color: darkblue;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

//nav and header stuff

header {
    width: 100%;
    height: 2rem;
    padding: 1rem 2rem 2rem 2rem;
    background-color: white;
    display: flex;
}

.logo, .search-bar {
    margin: 0 1rem;
}

h3{
    margin: 0;
}

.page {
    display: grid;
    grid-template-columns: minmax(50px, 10%) 1fr;
}

.nav-bar{
    background-color: white;
    display: block;
    min-height: 100%;
}
.nav-bar.active {
    background-color: orange;
}

.nav-icons{
    padding: 0;
    display: grid;
}
.nav-item {
    padding: 1rem 0;
    list-style: none;
    grid-template-rows: auto;
}