// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$circle-diameter: 20px;

body {
    line-height: 1.3em;
    min-width: 920px;
}
.timeline-container {
    font-family: "Roboto", sans-serif;
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
}
.timeline-container ul.timeline {
    margin: 20px 0;
    padding: 0;
    display: inline-block;
}
.timeline-container ul.timeline li {
    list-style: none;
    margin: auto;
    margin-left: 200px;
    min-height: 50px;
    /*background: rgba(255,255,0,0.1);*/
    padding: 0 0 50px 30px;
    position: relative;
}
.timeline-container ul.timeline li:last-child {
    border-left: 0;
}
.timeline-container ul.timeline li::before {
    position: absolute;
    content: " ";
    left: -$circle-diameter/2;
    top: -$circle-diameter/2;
    border-radius: 100%;
    background: darkgoldenrod;
    height: $circle-diameter;
    width: $circle-diameter;
}
li.timeline-event {
    border-top: 1px dashed #86d6ff;
    border-left: 1px solid darkgray;
}
ul.timeline li .event-detail, .event-date {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}
ul.timeline li .event-date {
    text-align: left;
    float: left;
}
ul.timeline li .event-title {
    padding: 10px;
    float: left;
    border: 2px solid black;
    background-color: burlywood;
    position: relative;
    left: 20px;
}